<!DOCTYPE html>
<html>
    <head>
        <title>CWR Values</title>
    </head>

    <body>
        <h1>Add CWR Values for location date wise</h1>

        <form id="data_form" method="post" action="/add_cwr_value/">

            {% csrf_token %}
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}

	    <table>
            {% for field in form.visible_fields %}
	    <tr>
	      <td>
                {{ field.errors }}
                {{ field.help_text }}
                {{ field }} 
	      </td>
	    </tr>
            {% endfor %}
	    </table>

	    <input type="submit" name="submit" value="Add CWR Value" />

        </form>
    </body>

    {% if messages %}
    {% for message in messages %}
        <p style="color:green;">{{ message }}</p>
    {% endfor %}
    {% endif %}
    <a href="/">Home page</a>

</html>
